<div class="row">
  <div class="col-md-12">
    <h1>{{restaurant.name}}</h1>
    <h5>[{{restaurant.Category.name}}]</h5>
  </div>
</div>
<hr>
<ul>
  <li>評論數：{{commentCount}}</li>
  <li>瀏灠次數：{{restaurant.viewCounts}}</li>

</ul>
<br>
<a href="javascript:history.back()">回上一頁</a>